.launch_work {
    background-color: #0a0a0a; 
    padding: 4rem;
    display: flex;
    justify-content: center;
  }
  
  .launch_work-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px 20px; 
    width: 100%;
  }
  
  .launch_work-card {
    flex: 1; 
    background-color: transparent; 
    border-radius: 10px; 
    overflow: hidden;  
  }
  
  .launch_work-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px 10px 0 0; 
    object-fit: cover; 
  }
  
  .launch_work-title {
    margin: 15px 0 10px;
    font-size: 0.8rem;
    color: #3665E8; 
    font-weight: normal;
  }
  
  .launch_work-brand {
    margin: 5px 0 10px; 
    font-size: 1.2rem;  
    font-weight: bold; 
  }
  
  .launch_work-description {
    font-size: 14px;
    line-height: 1.5;
    width: 60%;
  }
  @media (max-width: 399.98px) {
    .launch_work {
      padding: 2rem 1rem;
    }
    .launch_work-container {
      grid-template-columns: 1fr;
      gap: 30px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.6rem;
    }
    .launch_work-brand {
      font-size: 1rem;
    }
    .launch_work-description {
      font-size: 0.7rem;
      width: 90%;
    }
  }
  
  @media (min-width: 400px) and (max-width: 575.98px) {
    .launch_work {
      padding: 2.5rem 1rem;
    }
    .launch_work-container {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.7rem;
    }
    .launch_work-brand {
      font-size: 1.1rem;
    }
    .launch_work-description {
      font-size: 0.8rem;
      width: 90%;
    }
  }
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .launch_work {
      padding: 3rem;
    }
    .launch_work-container {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.75rem;
    }
    .launch_work-brand {
      font-size: 1.15rem;
    }
    .launch_work-description {
      font-size: 14px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) {
    .launch_work-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.5rem;
    }
    .launch_work-brand {
      font-size: 1rem;
    }
    .launch_work-description {
      font-size: 0.6rem;
      width: 80%;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .launch_work-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.8rem;
    }
    .launch_work-brand {
      font-size: 1.2rem;
    }
    .launch_work-description {
      font-size: 14px;
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1999.98px) {
    .launch_work-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 0.8rem;
    }
    .launch_work-brand {
      font-size: 1.2rem;
    }
    .launch_work-description {
      font-size: 0.8rem;
    }
  }
  
  @media (min-width: 2000px) {
    .launch_work {
        padding: 4rem 12rem;
    }

    .launch_work-container {
      gap: 70px 30px;
    }
    .launch_work-card {
      width: 100%;
    }
    .launch_work-title {
      font-size: 1.2rem;
    }
    .launch_work-brand {
      font-size: 2rem;
    }
    .launch_work-description {
      font-size: 1.5rem;
      width: 50%;
    }
  }